PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb://127.0.0.1:27017/company_saas
JWT_SECRET=super_secret_jwt_key_spheresaas_production_grade_998877
JWT_EXPIRE=7d
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
FROM_EMAIL=noreply@sphereops.io
UPLOAD_DIR=uploads
